__pycache__/
.vscode/
docs/
*.pth
*.mp4
debug_images/
*.jpg
*.npy
images/
test_sample/
result*/
vots/
vots.py
.venvTA
.venvTAHQ
.venvTAFast
.venv*
test.ipynb
test.py
HQRequirements.txt
notebooks/
common/
PythonAPI/
.tmp.driveupload/